body {
  margin: 0;
  background: #050b1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #020617;
  z-index: 1;
}
#login {
  color: white;
  text-align: center;
}

#login input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  width: 80%;
  max-width: 280px;
}

#login button {
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
}
#leaderboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.95);
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
  min-width: 300px;
}

@media (max-width: 600px) {
  #login h1 {
    font-size: 2em;
  }

  #login input, #login button {
    font-size: 16px;
    padding: 12px 20px;
  }

  #leaderboard {
    width: 90vw;
    padding: 15px;
  }
}

@media (max-height: 600px) {
    canvas {
        width: 80vh;
        height: 80vh;
    }
}

